<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Our <strong>Events</strong>
            <center>
                <img style="width:110px;" class="img-responsive" src="img/hammerandtongs.png" alt="">
            </center>
            </h2>
            <hr>
            <div class="text-center">
				<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=umdthetatau.org_okjtl2e6vrm36ebb1u688mv36k%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>