<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Contact <strong>Theta Tau</strong>
            </h2>
            <center>
                <img style="width:110px;" class="img-responsive" src="img/hammerandtongs.png" alt="">
            </center>
            <hr>
        </div>
        <div class="col-md-8">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=42.31761,-83.23090&amp;t=m&amp;z=15&amp;output=embed"></iframe>
        </div>
        <div class="col-md-4">
            <p>Email: <strong><a href="mailto:interested@umdthetatau.org">interested@umdthetatau.org</a></strong>
            </p>
            <p>Address: <strong>University of Michigan - Dearborn<br>4901 Evergreen Rd.<br>Dearborn, MI 48126</strong>
            </p>
            <p><center><img style="width:130px;" class="img-responsive" src="img/coat_of_arms.png" alt=""></center></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<<!-- div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr> -->
            <!-- <h2 class="intro-text text-center">Join <strong>Theta TAU</strong> -->
            <!-- <center>
                <p>If you are interested in upcomming rush, or would like more information about this chapter, please contact us below:</p>

                <img style="width:px;" class="img-responsive" src="img/coat_of_arms.png" alt="">
            </center>
            </h2>
            <hr>
            <center>
                
                <p>Email us at interested@umdthetatau.org!</p>
            </center> -->
            <!-- <form role="form" action="models/send_mail.php" method="post">
                <div class="row">
                    <div class="form-group col-lg-3">
                        <label>Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Email Address</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Phone Number</label>
                        <input type="tel" class="form-control">
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Major</label>
                        <input type="tel" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label>Message</label>
                        <textarea class="form-control" rows="6"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form> -->
<!--         </div>
    </div>
</div>
 -->

<!-- /.container -->
