
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Join <strong>Theta TAU</strong>
            <center>
                <img style="width:110px;" class="img-responsive" src="img/hammerandtongs.png" alt="">
            </center>
            </h2>
            <hr>
            <center>
                <p>If you are interested in upcomming rush, or would like more information, please contact us below</p>
            </center>
            <form role="form">
                <div class="row">
                    <div class="form-group col-lg-3">
                        <label>Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Email Address</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Phone Number</label>
                        <input type="tel" class="form-control">
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Major</label>
                        <input type="tel" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label>Message</label>
                        <textarea class="form-control" rows="6"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- /.container -->
