<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Engineering Leaders for <strong>Service, Profession,</strong> and <strong>Brotherhood</strong>
            </h2>
            <hr>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="img/slide-1.jpg" alt="">
            <h3>Service
                <small>For Communities</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="img/professional.jpg" alt="">
            <h3>Profession
                <small>Opportunies</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="img/paintball.jpg" alt="">
            <h3>Brotherhood
                <small>For Life</small>
            </h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Our <strong>Goals</strong>
            <center>
                <img style="width:110px;" class="img-responsive" src="img/hammerandtongs.png" alt="">
            </center>
            </h2>
            <hr>
            <h5>For our Brotherhood</h5>
            <p>
            We forge lifelong bonds of fraternal friendship, a journey that develops and delivers a network of lasting personal and professional relationships.  We foster an inviting, safe, and social environment in which our members become lifelong friends.
            </p>

            <h5>For our Profession</h5>
            <p>We develop and nurture engineers with strong communication, problem-solving, collaboration, and leadership skills that we demonstrate in our profession, our community, and in our lives.</p>
            <h5>For our Communities</h5>
            <p>We are known for our service to our college, university and the larger community.  Our service projects create a unifying environment for learning and personal growth for our member</p>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>